body{
  background-color: lightcyan;
}
#center_div{
  margin-top: 150px;
}
#select_questions {
  display: flex;
  text-align: center;
  align-items: center;
  width: 18%;
  margin: auto;
  margin-bottom: 20px ;
  margin-top: 25px;
  font-size: 18px;
}

#select_questions select {
  background-color: white !important;

  margin-left: 10px;
  font-size: 16px;
  padding: 5px 30px 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23444%"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat;
  background-position: right 10px center;
  background-size: 20px;
}

#select_questions select:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 3px #008CBA;
  border-color: #008CBA;
}

#quiz-container{
  display: none;
}